@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: montserrat;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #1C1C1C;
  width: 100%;
  height: 72px;
  top:0;
  left: 0;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
    img {
    margin-left: 180px;
  }
  .navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 230px;
    gap: 55px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
section {
  width: 100%;
  height: 750px;
  background-image: url(../images/section-image.png);
  object-fit: cover;
  border: 3px solid red;
}